background: linear-gradient(45deg,#036eb7,#64eaff);
background: linear-gradient(45deg,#E91E63,#ed55ff);
background: linear-gradient(45deg,#086d35,#00ff72);
background: linear-gradient(45deg,#f05a4f,#f4c030);